<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="login(f)" #f="ngForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input ngModel name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" >Login</ion-button>
  </form>
</ion-content>
