<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="papers">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Papers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mypapers">
      <ion-icon name="apps"></ion-icon>
      <ion-label>My Papers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
